body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  padding: 1.5em 1em;
}
.underline {
  width: 4em;
  height: .2em;
  background: cornflowerblue;
  margin: .5em 0;
}
.person {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.pic {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
}
.person p {
  margin-top: .5em;
  width: 90%;
  text-align: justify;
}
.btns {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-top: 1em;
}
.fas {
  display: flex;
  align-items: center;
  justify-content: center;
padding: .5em;
}